Listes

a)Pour concateter les listes list0 et list1, on écrit par exemple

In [ ]:
listConc = list0 + list1

b) Pour extraire une tranche de liste : dans la section "opération" des types séquentiels, on trouve s[i:j], en sachant qu'on commence par 0, donc le 6ième, est 5, le 9ième est 8. Donc pour extraire la tranche de 6 à 9 de la liste list0, on fera list0[5:8]

c)Pour trouver la longueur d'une liste, il faut écrire len(list0)

d) Comment déterminer le n-ieme terme de la suite de Fibonnaci ? Voici une possibilité de code, avec un exemple en prenant N=5: ( on essaye aussi N=2 pour voir s'il n'y pas de problème au valeur extrème) :

In [16]:
def fibonacci(N):
    list = [0 for i in range(N)]
    list[1] = 1
    for i in range(2, N):
        list[i] = list[i-1] + list[i-2]
    return list
print(fibonacci(5))
print(fibonacci(2))

[0, 1, 1, 2, 3]
[0, 1]

e) Comment avoir la n-ième ligne du triangle de Pascal ? J'ai préféré la description directe de la N-ième ligne à l'aide des coefficients binomiaux plutôt que de construire des listes par récurrences. D'abord, j'ai construit la factoriel en récursif :

In [10]:
def fact(N):
    if (N == 1 or N==0):
        return 1
    return N*fact(N-1)
print(fact(4))

24

On donne maintenant la fonction qui retourne la N-ieme ligne du triangle de Pascal : 
1. Ce n'est pas forcement la méthode la plus efficace en terme de complexité 
2. Le rôle du N = n-1 est d'assurer que pascal(N) donne bien la N-ième ligne et non la (N+1)ième
3. On calcul au départ fact(N) pour eviter de le faire a chaque itération, on aurait pu aussi profiter de la symétrie de la ligne mais je n'ai pas cherché plus que ça a descendre la complexité

In [16]:
def pascal(n):
    N = n-1
    p = fact(N)
    return [p/(fact(i)*fact(N-i)) for i in range(N+1)]
print(pascal(1))
print(pascal(2))
print(pascal(6))

[1.0]
[1.0, 1.0]
[1.0, 5.0, 10.0, 10.0, 5.0, 1.0]

f)Soit les suites $(u_n)_{n\in\mathbb{N}}$ et $(v_n)_{n\in\mathbb{N}}$ définies par $u_0=1$, $v_0=1$, et 
$$
\begin{align*}
u_{n+1} &= u_n + v_n \,, & v_{n+1} &= 2u _n - v_n \,,
\end{align*}
$$
pour $n\geq0$. Calculons $u_{100}$ et $v_{100}$.

In [19]:
u,v = 1,1
for i in range(100):
    w=u+v
    v=2*u-v
    u=w
print(u)
print(v)

717897987691852588770249
717897987691852588770249

g)Écrivons une fonction `vk(n0,K)`, qui pour deux entiers $n_0$ et $K\geq1$ calcule la suite des valeurs $v_k$ définies par $v_0 = n_0$ et
$$
v_{k+1}=\begin{cases}
3v_{k}+1 & \text{si $v_{k}$ est impair},\\ 
\frac{v_{k}}{2} & \text{si $v_{k}$ est pair},
\end{cases}
$$
pour $0 \leq k < K$. Pour $K = 1 000$ et diverses valeurs de $n_0 \in \{10, 100, 1 000, 10 000\}$, afficher les cinq dernières
valeurs calculées, c'est-à-dire $(v_{K-4},v_{K-3},v_{K-2},v_{K-1},v_K)$.
On écrit d'abort un petite fonction qui donne vk+1 en fonction de vk, puis la fonction vk qui construit la liste des valeurs de vk:

In [1]:
def f(k):
    if (k%2 == 0): 
        return k/2
    return 3*k +1
print(f(4))
print(f(5))

2.0
16

In [31]:
def vk(n0,K):
    list=[n0]
    for i in range(K-1):
        list.append(f(list[i]))
    return list
print(vk(10,1000)[995:1000])
print(vk(100,1000)[995:1000])
print(vk(1000,1000)[995:1000])
print(vk(10000,1000)[995:1000])

[2.0, 1.0, 4.0, 2.0, 1.0]
[4.0, 2.0, 1.0, 4.0, 2.0]
[2.0, 1.0, 4.0, 2.0, 1.0]
[1.0, 4.0, 2.0, 1.0, 4.0]

Tuples

a) Essayons le code suivant :

In [1]:
t=(1,9)
t[0]=2
print(t)

TypeError: 'tuple' object does not support item assignment

Cela prouve que les tuples ne sont pas mutable.

b)Définissons une fonction `mdlast(lst,val)` ayant pour argument une liste de tuples d'entiers `lst` et un entier `val` et retourner la liste de tuples avec le dernier élément de chaque tuple remplacé par `val`. Par exemple si `lst = [(10, 20), (30, 40, 50, 60), (70, 80, 90)]` alors `mdlast(lst,100)` doit retourner `[(10, 100), (30, 40, 50, 100), (70, 80, 100)]`.

In [14]:
def mdlast(lst, val):
    newLst=[]
    for i in range(len(lst)):
        lstProv=[]
        for j in range(len(lst[i])-1):
            lstProv.append(lst[i][j])
        lstProv.append(val)
        newLst.append(tuple(lstProv))
    return newLst
lst = [(10, 20), (30, 40, 50, 60), (70, 80, 90)]
print(mdlast(lst,100))

[(10, 100), (30, 40, 50, 100), (70, 80, 100)]

Commentaire : Ceette méthode fait un peuusine a gaz, en convertissant systématiquement les tuples en listes pour recréer des tuples.

c) Pour convertir un tuple en liste : on utilise la fonciton list(), et pour convertir une liste en tuple, 
on utilise la fonction tuple().

Ensembles

a)Définir une fonction `divisible(n)` qui retourne l'ensemble des nombres entiers divisibles par `n` inférieurs ou égaux à 100.

In [18]:
def divisible(N):
    return {N*i for i in range(100//N +1)}
print(divisible(7))
print(divisible(10))

{0, 98, 35, 70, 7, 42, 77, 14, 49, 84, 21, 56, 91, 28, 63}
{0, 100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

b)Cherchons dans la documentation comment faire l'intersection, l'union, et la différence de deux ensembles. Déterminons les nombres inférieurs ou égaux à 100 qui sont non divisibles par 2 mais divisibles par 3 et 5.Dans la section Types d'ensembles — set, frozenset, on trouve que les opérateurs |, & et - permettent de faire respectivement l'union, l'intersection et la différence entre deux ensembles

In [19]:
A = divisible(2)
B = divisible(3)
C = divisible(5)
print((B&C)- A)

{75, 45, 15}